.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  box-sizing: border-box;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 20vh;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
}

.App-header h1 {
  display: inline-block;
  vertical-align: middle;
}

.App-header h1 img {
  width: 100px;
  height: 100px;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-main {
  box-sizing: border-box;
  overflow: auto;
  margin: auto;
  height: 80vh;
  padding: 20px 5%;
}

@media (min-width: 1024px) {
  .App-main {
    width: 50%;
  }

  .result {
    font-size: 5vw;
  }
}

@media (max-width: 1024px) {
  .App-main {
    width: 100%;
  }

  .result {
    font-size: 15vw;
  }
}

.form-section wired-input {
  width: 150px;
  text-align: center;
}

.form-section .form-control {
  display: block;
  margin: 0 2%;
  padding: 25px 0;
}

.form-section .form-control label {
  margin-right: 20px;
}

.result {
  color: #61dafb;
}

#settings-button-container {
  position: absolute;
  left: 0px;
  top: 25vh;
  padding: 5px 10px 5px 10px;
  background-color: #ccc;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: #282c34 0 0 10px;

  transition: padding-left 0.2s ease-in-out, box-shadow 0.2s;

}

#settings-button-container:hover {
  padding-left: 20px;
  cursor: pointer;
  /* box-shadow: #61dafb 0 0 15px; */
  box-shadow: #282c34 0 0 15px;
}